<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>
        Stopwatch
      </h1>

      <div class="card">
        <div class="card-body">
          {{ time }}
        </div>

        <div class="card-footer">
          <button *ngIf="!isStarted" type="button" class="btn btn-success" (click)="start()">
            Start
          </button>

          <button *ngIf="isStarted && !isPaused" type="button" class="btn btn-danger" (click)="pause()">
            Pause
          </button>

          <button *ngIf="isStarted && !isPaused" type="button" class="btn btn-outline-info">
            Keep
          </button>

          <button *ngIf="isStarted && isPaused" type="button" class="btn btn-success" (click)="continue()">
            Continue
          </button>

          <button *ngIf="isStarted && isPaused" type="button" class="btn btn-danger" (click)="stop()">
            Clear
          </button>
        </div>
      </div>

      <table *ngIf="isStarted && times.length > 0" class="table table-bordered table-hover mt-4">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Duration</th>
          <th scope="col">Note</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of times">
          <th scope="row">
            <button type="button" class="btn btn-sm btn-outline-danger">
              x
            </button>
          </th>

          <td>
            {{item}}
          </td>

          <td>
            <div class="form-group">
              <input type="email" class="form-control">
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">
            <button type="button" class="btn btn-sm btn-outline-danger">
              x
            </button>
          </th>

          <td>
            {{item}}
          </td>

          <td>
            <div class="form-group">
              <input type="email" class="form-control">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


